<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="contact-page">
    <%- include('./nav.ejs') %>
    <h1>Contact Us</h1>
    <p>Welcome to the contact page!</p>
</body>

</html>
